#container {
    position: relative;
    border: 1px solid black;
    height:100%;
    width: 100%;
    
  }



#scope {
  width: 50px;
}

#containerTarget {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left{
width: 200px;
height: 100%;
}