@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

.home {
  background: url(../images/Accueil.png) no-repeat fixed center / cover;
  width: 100%;
  height: 100vh;
  padding-top: 5%;
}

.titleHome {
  color: #00ffe0;
  font-size: 8rem;
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
  width: 50%;
  height: auto;
  text-align: center;
  margin: auto;
  background-color: #424242;
  border-radius: 10px;
  border: 1rem solid orange;
}
.titleHome1 {
  color: #81d4fa;
  font-size: 8rem;
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 5%;
}

.chooseAvatarStyle {
  font-size: 2rem;
  font-family: "Mouse Memoirs", sans-serif;
  color: #424242;
  margin: 2% auto;
  text-align: center;
}
.chooseAvatarImgs {
  width: 60%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.AvatarsLook1 {
  width: 100px;
  height: 150px;
  background: url(../images/schwarzy.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.AvatarsLook1C {
  width: 125px;
  height: 175px;
  background: url(../images/schwarzy.png) no-repeat center / cover;
  cursor: pointer;
  border: 6px solid orange;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.AvatarsLook2 {
  width: 100px;
  height: 150px;
  background: url(../images/einstein.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.AvatarsLook2C {
  width: 125px;
  height: 175px;
  background: url(../images/einstein.png) no-repeat center / cover;
  cursor: pointer;
  border: 6px solid orange;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.AvatarsLook3 {
  width: 100px;
  height: 150px;
  background: url(../images/madonna.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook3:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.AvatarsLook3C {
  width: 125px;
  height: 175px;
  background: url(../images/madonna.png) no-repeat center / cover;
  cursor: pointer;
  border: 6px solid orange;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.AvatarsLook4 {
  width: 100px;
  height: 150px;
  background: url(../images/obama.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook4:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.AvatarsLook5 {
  width: 100px;
  height: 150px;
  background: url(../images/lee.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook5:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.formLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.texteLabel {
  font-size: 2rem;
  font-family: "Mouse Memoirs", sans-serif;
  color: #424242;
  margin: 2% auto;
}

.pseudoInput {
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #424242;
  padding: 2%;
  font-size: 1.5rem;
  text-align: center;
}
.gameInput {
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #424242;
  padding: 2%;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 10px;
}

.buttonHome {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: orange;
  color: #424242;
  margin: 6% auto;
  padding: 50% auto;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.3rem;
}

.buttonHome:hover {
  color: orange;
  background-color: #424242;
}
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

.home {
  background: url(../images/Accueil.png) no-repeat fixed center / cover;
  width: 100%;
  height: 100vh;
  padding-top: 5%;
}

.titleHome {
  color: #00ffe0;
  font-size: 8rem;
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
  width: 50%;
  height: auto;
  text-align: center;
  margin: auto;
  background-color: #424242;
  border-radius: 10px;
  border: 1rem solid orange;
}
.titleHome1 {
  color: #81d4fa;
  font-size: 8rem;
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 5%;
}

.chooseAvatarStyle {
  font-size: 2rem;
  font-family: "Mouse Memoirs", sans-serif;
  color: #424242;
  margin: 2% auto;
  text-align: center;
}
.chooseAvatarImgs {
  width: 60%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.AvatarsLook1 {
  width: 100px;
  height: 150px;
  background: url(../images/schwarzy.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.AvatarsLook1C {
  width: 125px;
  height: 175px;
  background: url(../images/schwarzy.png) no-repeat center / cover;
  cursor: pointer;
  border: 6px solid orange;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.AvatarsLook2 {
  width: 100px;
  height: 150px;
  background: url(../images/einstein.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.AvatarsLook2C {
  width: 125px;
  height: 175px;
  background: url(../images/einstein.png) no-repeat center / cover;
  cursor: pointer;
  border: 6px solid orange;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.AvatarsLook3 {
  width: 100px;
  height: 150px;
  background: url(../images/madonna.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook3:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.AvatarsLook3C {
  width: 125px;
  height: 175px;
  background: url(../images/madonna.png) no-repeat center / cover;
  cursor: pointer;
  border: 6px solid orange;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.AvatarsLook4 {
  width: 100px;
  height: 150px;
  background: url(../images/obama.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook4:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.AvatarsLook5 {
  width: 100px;
  height: 150px;
  background: url(../images/lee.png) no-repeat center / cover;
  cursor: pointer;
  border: 3px solid#424242;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.AvatarsLook5:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.formLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.texteLabel {
  font-size: 2rem;
  font-family: "Mouse Memoirs", sans-serif;
  color: #424242;
  margin: 2% auto;
}

.pseudoInput {
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #424242;
  padding: 2%;
  font-size: 1.5rem;
  text-align: center;
}

.buttonHome {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: orange;
  color: #424242;
  margin: 6% auto;
  padding: 50% auto;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.3rem;
}

.buttonHome:hover {
  color: orange;
  background-color: #424242;
  cursor: pointer;
}
